html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.pantalla {
    min-height: 100vh;
    padding: 0;
}

#home,
#juego,
#proceso,
#contacto {
    scroll-margin-top: 90px; 
}

#home {
    min-height: 100vh;
    background-image: url("img/portada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

#juego {
    background: #000 !important;
    padding-top: 140px;
}

.game-wrapper {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-frame {
    width: 900px;
    height: 600px;
    border: none;
}

#proceso {
    padding: 60px 20px 40px;
}

#contacto {
    padding: 60px 20px 100px;
    background: #fafafa;
}

.logo-nav {
    filter: brightness(0) invert(1);
    height: 42px;
    object-fit: contain;
}

#proceso img {
    object-fit: cover;
    max-height: 380px;
}
